/*Geral*/
*{
    background-color: #fbae39;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.45s;
}

a:hover{
    color: #ddd;
}

/*Navbar*/
#navbar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}
#navbar-inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links{
    font-size: 20px;
    display: flex;
    gap: 1.5rem;
}

.container{
    padding: 2rem 2.5rem;
    max-width: 2000px;
    margin: 0 auto;
    background-image: url("../img/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
    text-align: center;
}

#posts-container{
    flex: 3 1 0;
    max-width: 1000px;
    display: inline-block;
    text-align: left;
}

#posts{
    margin: 2.5rem ;

}

.cardapio{
    border: 4px double #444;
    padding: 2rem 2.5rem;
}
.cardapio h2{
    margin-top: 10px;
    text-align: left;
    font-size: 30px;
}
.cardapio p{
    text-align: left;
    font-size: 20px;
}

.cardapio img{
    width: 150px;
    margin-top: 2px;
    margin-left: 150px;
}

#paragraph{
    margin-top: 3px;
    text-align: left;
    font-size: 15px;
}

#footer{
    border-top: 2px solid #ddd;
    padding: 2rem;
    text-align: center;
}

#footer h2,
.footer p{
    margin-bottom: 1.2rem;
}

@media (max-widht: 450px){
    .container{
        font-size: 14px;
        max-width: 1000px;
    }

    #posts-container{
        max-width: 800px;
    }

    #footer p{
        font-size: 10px;
    }
}


