* {
    font-family: Arial, sans-serif;
    background-color: #fbae39;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: 0.45s;
}

a:hover {
    color: #ddd;
}

/* Navbar */
#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    font-size: 20px;
    display: flex;
    gap: 1.5rem;
}

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}
#posts-container{
    flex: 3 1 0;
}

#posts p{
    margin-top: 3px;
}

#footer {
    border-top: 2px solid #ddd;
    padding: 2rem;
    text-align: center;
}

#footer h2,
.footer p {
    margin-bottom: 1.2rem;
}
